.card {
  box-shadow: 0 4px 8px 0 rgba(70, 4, 4, 0.312); /* this adds the "card" effect */
  margin: 10px auto;
  text-align: center;
  background-color: #f1f1f1;
  display: inline-flex;
}

.container {
  text-align: center;
}
